
.loading {
  position: absolute;
  background: #262626;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  align-items: center;
  justify-content: center;
  z-index: 3;

  .content {
    width: 40px;
    height: 40px;
    background: white;
    animation: rotateplane 1.2s infinite ease-in-out;
  }

  &.visible {
    display: flex;
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}