
.container {
  display: flex;
  flex-direction: column;
}

.volume {
  align-self: flex-end;
}

.fas {
  margin-left: 5px;
  cursor: pointer;
  &:hover {
    color: #262626;
  }
}

.fa-volume-mute.active {
  color: #262626;
}