* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: dimgrey;
  display: flex;
  //align-content: center;
  justify-content: center;

}

.container {
  display: flex;
  flex-direction: column;
}

.volume {
  align-self: flex-end;
}

.fas {
  cursor: pointer;
  &:hover {
    color: #262626;
  }
}

img {
  display: none;
}

#canvas {
  margin-top: 5px;
  border: 2px solid black;
  cursor: crosshair;
}