<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DuckHunt</title>
</head>
<body>
<img id="background" src="images/game_board.png" alt="background">
<img id="grass" src="images/game_board_grass.png" alt="grass">

<img id="dogImg" src="images/dog.png" alt="dog">

<canvas id="canvas" width="768" height="720">

</canvas>


</body>
</html>
